<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Примеры компонентов VueJS</title>

    <!-- Подключение Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Подулючение ElementUI -->
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="js/data.js"></script>


    <style>
        .item {
            margin-right: 30px;
        }
        
        .card-description {
            color: #8f8c8c;
        }
    </style>

</head>
<body>
    
    <style>

        .el-dropdown-link {
          cursor: pointer;
          color: #409EFF;
        }

        .el-icon-arrow-down {
          font-size: 12px;
        }

        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 200px;
            margin: 0;
        }
        
        
        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }
        
        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }

        .medium {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 48px!important;
            color: #fff!important;
            text-shadow: 1px 1px #000;
        }

        .custom-popover {
            /* background-color: #E4E7ED; */
            background: rgb(250, 236, 216);
            /* border-color: #E6A23C;
            border-width: 3px; */
        }
      </style>  

    <div id="app">
        <!-- Меню навигации -->
        <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b"
            type="flex"
            justify="end">
                <el-row type="flex" justify="end">
                    <el-menu-item index="3"><el-link href="index.html" style="color:#fff">Главная</el-link></el-menu-item>
                    <el-menu-item index="2"><el-link href="examples.html" style="color:#fff">Examples</el-link></el-menu-item>
                    
                </el-row>
            
        </el-menu>

        <el-row 
            v-if="this.fullscreenLoading"    
            v-loading="fullscreenLoading"
            style="position: fixed; z-index: 1000; left: 0; right: 0; top: 0; bottom: 0; display: flex; justify-content: center; align-items:center; background-color:rgba(255, 255, 255, .7);">
        
        </el-row>

        <h1>Демонстрация дефолтных компонентов ElementsUI</h1>

        <ul style="list-style:none;">
            <li>
                <el-card>
                    
                    <header><h3>Карточка (товара или что-то там еще)</h3></header>
                    <div>
                        <el-row>
                            <el-col :span="8" v-for="(o, index) in 2" :key="o" :offset="index > 0 ? 2 : 0">
                              <el-card :body-style="{ padding: '0px' }">
                                <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png" class="image">
                                <div style="padding: 14px;">
                                  <span>Yummy hamburger</span>
                                  <div class="bottom clearfix">
                                    <time class="time">{{ currentDate }}</time>
                                    <el-button type="text" class="button">Operating</el-button>
                                  </div>
                                </div>
                              </el-card>
                            </el-col>
                          </el-row>
                    </div>
                    <p class="card-description">
                        Вывод на экран однотипных элементов с любым содержимым
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/card">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <el-badge value="!" :title="interest" type="danger">
                        <header><h3>Drawer (выдвигающееся меню)</h3></header>
                    </el-badge>
                    <div>
                        <el-button @click="drawer = true" type="primary" style="margin-left: 16px;">
                            open
                        </el-button>
                          
                        <el-drawer   
                            title="I'm outer Drawer"
                            :visible.sync="drawer"
                            size="50%">
                                <div>
                                    <el-button @click="innerDrawer = true">Click me!</el-button>
                                    <el-drawer
                                        title="I'm inner Drawer"
                                        :append-to-body="true"
                                        :before-close="handleClose2"
                                        :visible.sync="innerDrawer">
                                        <p>_(:зゝ∠)_</p>
                                    </el-drawer>
                                </div>
                        </el-drawer>
                    </div>
                    <p class="card-description">
                        Способ спрятать элементы навигации
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/drawer">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <header><h3>Page header</h3></header>
                    <div>
                        <el-page-header @back="goBack" title="" content="Detail">
                        </el-page-header>
                    </div>
                    <p class="card-description">
                        Должно выглядеть, как на страницах приложения на мобильных устройствах
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/page-header">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <el-badge value="!" :title="interest" type="danger">
                        <header><h3>Диалоговое окно</h3></header>
                    </el-badge>
                    <div>
                        <el-button type="text" @click="dialogFormVisible = true">Открыть диалоговое окно</el-button>

                        <el-dialog title="Shipping address" :visible.sync="dialogFormVisible">
                        <el-form :model="form">
                            <el-form-item label="Promotion name" :label-width="formLabelWidth">
                            <el-input v-model="form.name" autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="Zones" :label-width="formLabelWidth">
                            <el-select v-model="form.region" placeholder="Please select a zone">
                                <el-option label="Zone No.1" value="shanghai"></el-option>
                                <el-option label="Zone No.2" value="beijing"></el-option>
                            </el-select>
                            </el-form-item>
                        </el-form>
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible = false">Cancel</el-button>
                            <el-button type="primary" @click="dialogFormVisible = false">Confirm</el-button>
                        </span>
                        </el-dialog>
                    </div>
                    <p class="card-description">
                        Диалоговые окна. Содержимое может быть любым
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/dialog">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <el-badge value="!" :title="interest" type="danger">
                        <header><h3>Popover</h3></header>
                    </el-badge>
                    <div>
                        <template>
                            <el-popover
                                placement="top"
                                title="Title"
                                width="200"
                                trigger="click"
                                content="this is content, this is content, this is content">
                                <el-button slot="reference">Click to activate</el-button>
                            </el-popover>

                            <el-popover
                                placement="right"
                                width="400"
                                trigger="click">
                                    <el-table :data="gridData">
                                        <el-table-column width="150" property="date" label="date"></el-table-column>
                                        <el-table-column width="100" property="name" label="name"></el-table-column>
                                        <el-table-column width="300" property="address" label="address"></el-table-column>
                                    </el-table>
                                    <el-button slot="reference">Click to activate</el-button>
                            </el-popover>

                            <el-popover
                                placement="right"
                                width="250"
                                trigger="click">
                                    <el-row type="flex" :data="data">
                                        <el-col>
                                            <h4>Договор №{{data.dataDetail.contract}}</h4>
                                            <p>Тип договора: {{ data.dataDetail.type }}</p>
                                            <p>ФИО: {{ data.dataDetail.fullName }}</p>
                                            <p>Дней просрочки: {{ data.dataDetail.delay }}</p>
                                            <p>Общая задолженность: {{ data.dataDetail.commonDebt }} руб.</p>
                                        </el-col>
                                    </el-row>
                                    <el-button slot="reference">Click to activate</el-button>
                            </el-popover>

                            <!-- top/top-start/top-end/bottom/bottom-start/bottom-end/left/left-start/left-end/right/right-start/right-end -->
                            <el-popover
                                placement="right"
                                popper-class="custom-popover"
                                width="250"
                                trigger="click">
                                    <el-row type="flex" :data="data">
                                        <el-col>
                                            <h4>Договор №{{data.dataDetail.contract}}</h4>
                                            <p>Тип договора: {{ data.dataDetail.type }}</p>
                                            <p>ФИО: {{ data.dataDetail.fullName }}</p>
                                            <p>Дней просрочки: {{ data.dataDetail.delay }}</p>
                                            <p>Общая задолженность: {{ data.dataDetail.commonDebt }} руб.</p>
                                        </el-col>
                                    </el-row>
                                    <el-card slot="reference" style="margin-top: 20px; width: 300px; cursor:pointer;" shadow="hover" title="Нажми для отображения/скрытия подробной информации">
                                        <h4>Займ №{{data.dataDetail.contract}}</h4>
                                        <el-row :span="8">
                                            <div>Тип договора: <span style="color:teal">PDL</span></div>
                                            <div>Общая задолженность: 36000 ₽</div>
                                        </el-row>
                                    </el-card>
                            </el-popover>
                        </template>
                    </div>
                    <p class="card-description">
                        Возможно что-то вот такое лайтовое ты хотел вместо диалогового окна?
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/popover">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <header><h3>Табы</h3></header>
                    <div>
                        <template>
                            <el-radio-group v-model="tabPosition" style="margin-bottom: 30px;">
                            <el-radio-button label="top">top</el-radio-button>
                            <el-radio-button label="right">right</el-radio-button>
                            <el-radio-button label="bottom">bottom</el-radio-button>
                            <el-radio-button label="left">left</el-radio-button>
                            </el-radio-group>
                        
                            <el-tabs :tab-position="tabPosition" style="height: 200px;">
                            <el-tab-pane label="User">User</el-tab-pane>
                            <el-tab-pane label="Config">Config</el-tab-pane>
                            <el-tab-pane label="Role">Role</el-tab-pane>
                            <el-tab-pane label="Task">Task</el-tab-pane>
                            </el-tabs>
                        </template>
                    </div>
                    <p class="card-description">
                        Способ скрыть контент. Добавляется небольшое меню в произвольном месте
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/tabs">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <el-badge value="!" :title="interest" type="danger">
                        <header><h3>Collapse</h3></header>
                    </el-badge>
                    <div>
                        
                        <el-collapse v-model="activeNames" @change="handleChange">
                            <el-collapse-item title="Consistency" name="1">
                                <div>Consistent with real life: in line with the process and logic of real life, and comply with languages and habits that the users are used to;</div>
                                <div>Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc.</div>
                            </el-collapse-item>
                            <el-collapse-item title="Feedback" name="2">
                                <div>Operation feedback: enable the users to clearly perceive their operations by style updates and interactive effects;</div>
                                <div>Visual feedback: reflect current state by updating or rearranging elements of the page.</div>
                            </el-collapse-item>
                            <el-collapse-item title="Efficiency" name="3">
                                <div>Simplify the process: keep operating process simple and intuitive;</div>
                                <div>Definite and clear: enunciate your intentions clearly so that the users can quickly understand and make decisions;</div>
                                <div>Easy to identify: the interface should be straightforward, which helps the users to identify and frees them from memorizing and recalling.</div>
                            </el-collapse-item>
                            <el-collapse-item title="Controllability" name="4">
                                <div>Decision making: giving advices about operations is acceptable, but do not make decisions for the users;</div>
                                <div>Controlled consequences: users should be granted the freedom to operate, including canceling, aborting or terminating current operation.</div>
                            </el-collapse-item>
                        </el-collapse>
                        
                    </div>
                    <p class="card-description">
                        Один из способов спрятать содержимое. Отображение контента переключается по нажатии на его заголовок.
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/collapse">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <header><h3>Переключатель</h3></header>
                    <div>
                        <el-switch
                        style="display: block"
                        v-model="value2"
                        active-color="#13ce66"
                        inactive-color="#ff4949"
                        active-text="Pay by month"
                        inactive-text="Pay by year">
                        </el-switch>
                    </div>
                    <p class="card-description">
                        По сути просто декоративный checkbox
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/switch">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <el-badge value="!" :title="interest" type="danger">
                        <header><h3>Badge</h3></header>
                    </el-badge>
                    <div>
                        <el-badge :value="200" :max="99" class="item" type="success">
                            <el-button size="small">comments</el-button>
                        </el-badge>

                        <el-badge :value="3" class="item" type="warning">
                            <el-button size="small">replies</el-button>
                        </el-badge>
                        
                        <el-badge value="new" class="item" type="primary">
                            <el-button size="small">comments</el-button>
                        </el-badge>
                        <el-badge value="hot" class="item">
                            <el-button size="small">replies</el-button>
                        </el-badge>
                        
                        <el-badge is-dot class="item">
                            <el-button class="share-button" icon="el-icon-share" type="primary"></el-button>
                        </el-badge>


                    </div>
                    <p class="card-description">
                        Информационный элемент, навешиваемый чаще на навигационные элементы (кнопки, элементы меню и т.д.).
                        Указывает на особый статус или важное событие
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/badge">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <header><h3>Тэги</h3></header>
                    <div>
                        <el-tag
                        :key="tag"
                        v-for="tag in dynamicTags"
                        closable
                        :disable-transitions="false"
                        @close="handleClose(tag)">
                        {{tag}}
                        </el-tag>
                        <el-input
                        class="input-new-tag"
                        v-if="inputVisible"
                        v-model="inputValue"
                        ref="saveTagInput"
                        size="mini"
                        @keyup.enter.native="handleInputConfirm"
                        @blur="handleInputConfirm"
                        >
                        </el-input>
                        <el-button v-else class="button-new-tag" size="small" @click="showInput">+ New Tag</el-button>
                    </div>
                    <p class="card-description">
                        В данном примере, помимо отображения тэгов, есть возможность управлять ими
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/tag">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <el-badge value="!" :title="interest" type="danger">
                        <header><h3>Message</h3></header>
                    </el-badge>
                    <template>
                        <el-button :plain="true" @click="open">Show message</el-button>
                        <el-button :plain="true" @click="openVn">VNode</el-button>
                    </template>
                    <p class="card-description">
                        Вывод оповещений
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/message">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <el-badge value="!" :title="interest" type="danger">
                        <header><h3>Notification</h3></header>
                    </el-badge>
                    <div>
                        <template>
                            <el-button
                              plain
                              @click="open1">
                              Closes automatically
                            </el-button>
                            <el-button
                              plain
                              @click="open2">
                              Won't close automatically
                              </el-button>
                          </template>
                    </div>
                    <p class="card-description">
                        Вывод оповещений на странице
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/notification">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <header><h3>Бесконечная прокрутка (подгрузка вместо пагинации)</h3></header>
                    <div>
                        <div style="height: 300px; overflow-y: auto;">
                            <template>
                                <div class="infinite-list-wrapper" style="overflow:auto">
                                  <ul
                                    class="list"
                                    v-infinite-scroll="load"
                                    infinite-scroll-disabled="disabled">
                                    <li v-for="i in count" class="list-item">{{ i }}</li>
                                  </ul>
                                  <p v-if="loading">Loading...</p>
                                  <p v-if="noMore">No more</p>
                                </div>
                              </template>
                        </div>
                    </div>
                    <p class="card-description">
                        По идее аналогия с подгружаемыми постами в Вконтакте (здесь работает немного не так, как нужно)
                        Используется вместо пагинации
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/infiniteScroll">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <header><h3>Карусель</h3></header>
                    <div>
                        <template>
                            <el-carousel :interval="4000" type="card" height="200px">
                              <el-carousel-item v-for="item in 6" :key="item">
                                <h3 class="medium">{{ item }}</h3>
                              </el-carousel-item>
                            </el-carousel>
                          </template>
                    </div>
                    <p class="card-description">
                        Карусель. По дефолту есть и другие способы отображения
                    </p>
                    <p><el-link type="primary" href="https://element.eleme.io/#/en-US/component/carousel">Документация</el-link></p>
                </el-card>
            </li>
            <li>
                <el-card>
                    <header><h3>Другие инструменты</h3></header>
                    <p class="card-description">
                        Возможно какие-то из следующих элементов могут тоже пригодиться. Но это также не все элементы, которые предлагает библиотека
                    </p>
                    <ul>
                        <li><el-link href="https://element.eleme.io/#/en-US/component/steps">Steps</el-link> - Разделение на этапы</li>
                        <li><el-link href="https://element.eleme.io/#/en-US/component/timeline">Временная шкала</el-link> - Похоже на Steps, только с привязкой к определенной дате</li>
                        <li>
                            <el-badge value="!" :title="interest" type="danger"><el-link href="https://element.eleme.io/#/en-US/component/icon"> Иконки</el-link></el-badge> - неплохой способ сэкономить место, если подобрать интуитивно понятные значки. Кстати набор готовых иконок в библиотеке уже есть и представлен по ссылке      
                        </li>
                        <li><el-link href="https://element.eleme.io/#/en-US/component/button">Кнопки</el-link></li>
                        <li><el-link href="https://element.eleme.io/#/en-US/component/progress">Progress</el-link> - Довольно много различных вариантов отображения прогресса </li>
                        <li><el-link href="https://element.eleme.io/#/en-US/component/tree">Дерево</el-link> - Структурное дерево</li>
                        <li><el-link href="https://element.eleme.io/#/en-US/component/alert">Alert</el-link> - Нечто, что можно использовать в виджетах и оповещениях</li>
                        <li><el-link href="https://element.eleme.io/#/en-US/component/breadcrumbs">Хлебные крошки</el-link></li>
                        <li><el-link href="https://element.eleme.io/#/en-US/component/radio">Radio</el-link> - Радиокнопки
                            <p>А также другие элементы управления форм, такие как:</p>
                            <ul>
                                <li><el-link href="https://element.eleme.io/#/en-US/component/checkbox">Checkbox</el-link> </li>
                                <li>input</li>
                                <li>inputNumber</li>
                                <li>Select</li>
                                <li>Cascader</li>
                                <li>Slider</li>
                                <li>TimePicker</li>
                                <li>DatePicker</li>
                                <li>DateTimePicker</li>
                                <li>Upload</li>
                                <li>Rate</li>
                                <li>ColorPicker</li>
                                <li>Transfer</li>
                            </ul>
                        </li>
                        <li><el-link href="https://element.eleme.io/#/en-US/component/popconfirm">Popconfirm</el-link> - миниподтверждение действия</li>
                        <!-- <li><el-link href="https://element.eleme.io/#/en-US/component/tooltip">Tooltip</el-link> - Всплывающая подсказка</li> -->
                        <li><el-link href="https://element.eleme.io/#/en-US/component/popover">Popover</el-link> - Вслывающее сообщение</li>
                        <li><el-link href="https://element.eleme.io/#/en-US/component/avatar">Аватар</el-link></li>
                        <li><el-link href="https://element.eleme.io/#/en-US/component/calendar">Календарь</el-link></li>
                    </ul>
                </el-card>
            </li>
        </ul>
        
    </div>
    

    <script>        

        var app = new Vue({
            el: '#app',
            data: {
                interest: "Хотел обратить особое внимание на выделенные красной иконкой элементы. Мне кажется они очень даже могут исопльзоваться в данном проекте",
                value1: true,
                value2: true,
                fullscreenLoading: true,
                activeIndex: '2',
                dynamicTags: ['Tag 1', 'Tag 2', 'Tag 3'],
                inputVisible: false,
                inputValue: '',
                activeNames: ['1'],
                drawer: false,
                innerDrawer: false,
                currentDate: new Date(),
                tabPosition: 'left',
                count: 0,
                data: {
                    commonQuery: commonQuery,
                    myQuery: myQuery,
                    dataDetail: dataDetail,
                },
                gridData: [{
                    date: '2016-05-02',
                    name: 'Jack',
                    address: 'New York City'
                }, {
                    date: '2016-05-04',
                    name: 'Jack',
                    address: 'New York City'
                }, {
                    date: '2016-05-01',
                    name: 'Jack',
                    address: 'New York City'
                }, {
                    date: '2016-05-03',
                    name: 'Jack',
                    address: 'New York City'
                }],
                loading: false,
                dialogFormVisible: false,
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                formLabelWidth: '120px'
            },
            created: function() {
                this.openFullScreen1();
            },
            computed: {
                noMore () {
                    return this.count >= 20
                },
                disabled () {
                    return this.loading || this.noMore
                }
            },
            methods: {
                handleClose(tag) {
                    this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
                },
                handleClose2(done) {
                    this.$confirm('You still have unsaved data, proceed?')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
                },

                showInput() {
                    this.inputVisible = true;
                    this.$nextTick(_ => {
                        this.$refs.saveTagInput.$refs.input.focus();
                    });
                },

                handleInputConfirm() {
                    let inputValue = this.inputValue;
                    if (inputValue) {
                        this.dynamicTags.push(inputValue);
                    }
                    this.inputVisible = false;
                    this.inputValue = '';
                },
                handleChange(val) {
                    console.log(val);
                },
                open() {
                    this.$message('This is a message.');
                },

                openVn() {
                    const h = this.$createElement;
                    this.$message({
                    message: h('p', null, [
                        h('span', null, 'Message can be '),
                        h('i', { style: 'color: teal' }, 'VNode')
                    ])
                    });
                },
                open1() {
                    const h = this.$createElement;

                    this.$notify({
                    title: 'Title',
                    message: h('i', { style: 'color: teal' }, 'This is a reminder')
                    });
                },

                open2() {
                    this.$notify({
                    title: 'Prompt',
                    message: 'This is a message that does not automatically close',
                    duration: 0
                    });
                },
                openFullScreen1() {
                    setTimeout(() => {
                    this.fullscreenLoading = false;
                    }, 2000);
                },
                load () {
                    this.loading = true
                    setTimeout(() => {
                        this.count += 2
                        this.loading = false
                    }, 1500)
                },
                goBack() {
                    alert('Была нажата кнопка назад');
                },
            }
        })



    </script>
</body>
</html>