<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>

    <!-- Подключение Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Подулючение ElementUI -->
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>
<body>
    
    <div id="app">
        <el-link type="success" href="test-ui.html">Test UI</el-link>
        <br>
        <p>
            {{ message }}
        </p>
    </div>

    <div id="app-2">
        <span v-bind:title="message">
          Наведи на меня курсор на пару секунд,
          чтобы увидеть динамически связанное значение title!
        </span>
    </div>

    <div id="app-3">
        <h2>Отображение по условию</h2>
        <span v-if="seen">Сейчас меня видно</span>
    </div>

    <div id="app-4">
        <h2>Отрисовка списков с использованием компонентов</h2>
        <!--  -->
        <!-- <el-input placeholder="new Item" v-on:keyup.enter="addItem"></el-input> -->
        <ol>
            <!-- <li v-for="todo in todos">{{todo.text}}</li> -->
            <todo-item v-for="todo in todos" v-bind:todo="todo" v-bind:key="todo.id">{{ todo.text }}</todo-item>
        </ol>
    </div>

    <div id="app-5">
        <h2>Выполнение обработчиков</h2>
        <p>{{ message }}</p>
        <el-button v-on:click="reverseMessage">Перевернуть сообщение</el-button>
    </div>

    <div id="app-6">
        <h2>Демонстрация реактивности (связываение данных)</h2>
        <p>{{message}}</p>
        <input v-model="message">
    </div>
    

    <script>
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Привет, Vue!'
            }
        })

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'Вы загрузили эту страницу: ' + new Date().toLocaleString()
            }
        })

        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true,
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                { text: 'Изучить JavaScript' },
                { text: 'Изучить Vue' },
                { text: 'Создать что-нибудь классное' }
                ]
            },
            methods: {
                addItem: function() {
                    
                },
            },
        })

        var5 = new Vue({
            el: "#app-5",
            data: {
                message: "Спартак - чемпион)"
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        app6 = new Vue({
            el: "#app-6",
            data: {
                message: "toster",
            },
        })

    </script>


<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

    <div id="watch-example">
        <h2>Оракул</h2>
        <p>
          Задайте вопрос, на который можно ответить «да» или «нет»:
          <input v-model="question">
        </p>
        <p>{{ answer }}</p>
      </div>

    <script>
        var watchExampleVM = new Vue({
        el: '#watch-example',
        data: {
            question: '',
            answer: 'Пока вы не зададите вопрос, я не могу ответить!'
        },
        watch: {
            // эта функция запускается при любом изменении вопроса
            question: function (newQuestion, oldQuestion) {
            this.answer = 'Ожидаю, когда вы закончите печатать...'
            this.debouncedGetAnswer()
            }
        },
        created: function () {
            // _.debounce — это функция lodash, позволяющая ограничить то,
            // насколько часто может выполняться определённая операция.
            // В данном случае мы ограничиваем частоту обращений к yesno.wtf/api,
            // дожидаясь завершения печати вопроса перед отправкой ajax-запроса.
            // Узнать больше о функции _.debounce (и её родственнице _.throttle),
            // можно в документации: https://lodash.com/docs#debounce
            this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
        },
        methods: {
            getAnswer: function () {
            if (this.question.indexOf('?') === -1) {
                this.answer = 'Вопросы обычно заканчиваются вопросительным знаком. ;-)'
                return
            }
            this.answer = 'Думаю...'
            var vm = this
            axios.get('https://yesno.wtf/api')
                .then(function (response) {
                    if (response.data.answer == 'yes') {
                        vm.answer = "Да"
                    }
                    else if(response.data.answer == 'no') {
                        vm.answer = "Нет"
                    }
                    else {
                        vm.answer = _.capitalize(response.data.answer)
                    }
                })
                .catch(function (error) {
                vm.answer = 'Ошибка! Не могу связаться с API. ' + error
                })
            }
        }
        })
    </script>



<div id="todo-list-example">
    <h2>Список дел</h2>
    <form v-on:submit.prevent="addNewTodo">
      <label for="new-todo">Добавить задачу</label>
      <input
        v-model="newTodoText"
        id="new-todo"
        placeholder="Например, покормить кота"
      >
      <button>Добавить</button>
    </form>
    <ul>
      <li
        is="todo-item"
        v-for="(todo, index) in todos"
        v-bind:key="todo.id"
        v-bind:title="todo.title"
        v-on:remove="todos.splice(index, 1)"
      ></li>
    </ul>
  </div>


  <script>
      Vue.component('todo-item', {
        template: '\
            <li>\
            {{ title }}\
            <button v-on:click="$emit(\'remove\')">Удалить</button>\
            </li>\
        ',
        props: ['title']
        })

        new Vue({
        el: '#todo-list-example',
        data: {
            newTodoText: '',
            todos: [
            {
                id: 1,
                title: 'Помыть посуду'
            },
            {
                id: 2,
                title: 'Вынести мусор'
            },
            {
                id: 3,
                title: 'Подстричь газон'
            }
            ],
            nextTodoId: 4
        },
        methods: {
            addNewTodo: function () {
            this.todos.push({
                id: this.nextTodoId++,
                title: this.newTodoText
            })
            this.newTodoText = ''
            }
        }
    })  
  </script>
</body>
</html>